<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<th:block th:fragment="content">
		<h1 class="mt-4">GuestBook List Page
			<!-- 등록 페이지의 링크 처리 -->
			<span>
				<a th:href="@{/guestbook/register}">
					<button type="button" class="btn btn-outline-primary">REGISTER</button>
				</a>
			</span>
		</h1>


		<!--검색 입력-->
		<form action="/guestbook/list" method="get" id="searchForm">

			<div class="input-group">

				<input type="hidden" name="page" value="1">

				<!--검색 타입 select box-->
				<div class="input-group-prepend">

					<select class="custom-select" name="type">

						<option th:selected="${pageRequestDTO.type == null}">--------</option>

						<option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
						<option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
						<option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
						<option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목 + 내용</option>
						<option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제목 + 내용 + 작성자</option>

					</select>

				</div>

				<!--키워드 입력창-->
				<input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">

				<!--검색 버튼-->
				<div class="input-group-append" id="button-addon4">
					<!--버튼1 검색하기-->
					<button class="btn btn-outline-secondary btn-search" type="button">Search</button>
					<!--버튼2 검색 내용 초기화-->
					<button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>

				</div>

			</div>

		</form>


		<!-- 컨트롤러와 화면에서의 목록 처리 -->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Writer</th>
					<th>Regdate</th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="dto: ${result.dtoList}">
				<th scope="row">
					<a th:href="@{/guestbook/read(gno = ${dto.gno}, page=${result.page})}">[[${dto.gno}]]</a>
				</th>
				<td>[[${dto.title}]]</td>
				<td>[[${dto.writer}]]</td>
				<td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
			</tr>
			</tbody>
		</table>

		<!-- 목록 페이지 처리 -->
		<ul class="pagination h-100 justify-content-center align-items-center">

			<li class="page-item" th:if="${result.prev}">
				<a class="page-link" th:href="@{/guestbook/list(page=${result.start -1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}" tabindex="-1">Previous</a>
			</li>

			<li th:each="page: ${result.pageList}" th:class="'page-item'+${result.page==page?'active':''}">
				<a class="page-link" th:href="@{/guestbook/list(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">[[${page}]]</a>
			</li>

			<li class="page-item" th:if="${result.next}">
				<a class="page-link" th:href="@{/guestbook/list(page=${result.end +1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">Next</a>
			</li>

		</ul>

		<!--등록 처리와 목록 페이지 모달창-->
		<!-- Modal -->
		<div class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<h5 class="modal-title">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<p>Modal body text goes here.</p>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>

				</div>
			</div>
		</div>

		<script th:inline="javascript">

            /*등록된 뒤 전달되는 msg 확인, 모달 처리*/
            const msg = [[${msg}]];
            console.log(msg);
            if(msg) {
                $(".modal").modal();
            }

            /*검색 버튼 이벤트 처리*/
			const searchForm = $("#searchForm")

			/*버튼1 검색하기 이벤트 처리*/
			$('.btn-search').click(() => {
                searchForm.submit()
			})

			/*버튼2 검색 내용 초기화 이벤트 처리*/
            $('.btn-clear').click(() => {
                searchForm.empty().submit()
            })

		</script>

	</th:block>

</th:block>

</html>