<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>수정하기</title>
</head>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<th:block th:fragment="content">

		<h1 class="mt-4">GuestBook Modify Page</h1>

		<form action="/guestbook/modify" method="post">

			<!-- 방명록 내용 -->
			<div class="form-group">
				<label>Gno</label>
				<input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly> <!-- 수정 불가 -->
			</div>

			<div class="form-group">
				<label>Title</label>
				<input type="text" class="form-control" name="title" th:value="${dto.title}"> <!-- 수정 가능 -->
			</div>

			<div class="form-group">
				<label>Content</label>
				<textarea class="form-control" rows="5" name="content">[[${dto.content}]]</textarea> <!-- 수정 가능 -->
			</div>

			<div class="form-group">
				<label>Writer</label>
				<input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly> <!-- 수정 불가 -->
			</div>

			<div class="form-group">
				<label>RegDate</label>
				<input type="text" class="form-control" name="regDate" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>  <!-- 수정 불가 -->
			</div>

			<div class="form-group">
				<label>ModDate</label>
				<input type="text" class="form-control" name="modDate" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>  <!-- 수정 불가 (JPA 자동 처리) -->
			</div>

		</form>


		<!--수정하기 버튼-->
		<button type="button" class="btn btn-primary">Modify</button>

		<!--목록이동 버튼-->
		<button type="button" class="btn btn-info">List</button>

		<!--삭제 버튼-->
		<button type="button" class="btn btn-danger removeBtn">Remove</button>

		<!--삭제 처리-->
		<script th:inline="javascript">

            const actionForm = $("form");

            $(".removeBtn").click(function (){

                actionForm.attr("action", "/guestbook/remove").attr("method", "post");
                actionForm.submit();

            });

		</script>

	</th:block>

</th:block>

</html>